@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

.animasi {
  text-align: center;
  animation: glow 3.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
